<a href="https://colab.research.google.com/github/leejyy/Assignment/blob/master/911EmergencyCalls.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Case Study

Congrats! You have been contracted to conduct a brief analysis of a dataset containing ememrgency calls in order to determine the allocation of funds to you local authorities.  This analysis will play a role in deciding changes to the emergency response department.

The data is based in 911 emergency calls and your job is to determine a variety of issues regarding said calls.

1. Using Pandas and Numpy, analyse the data and come up with 5 questions that you would like to answer about the data.

2. the instructor will provide a rnage of questions to answer and you should use your knowledge to complte them as a team.

Team Members:Jiayang Li, Qiyu LIu, Ilya Golovin, Sukhyang Jeong

In [30]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/projects/911/data/911.csv')

In [5]:
data.head(10)

         lat        lng  ...                                      addr  e
0  40.297876 -75.581294  ...                    REINDEER CT & DEAD END  1
1  40.258061 -75.264680  ...                BRIAR PATH & WHITEMARSH LN  1
2  40.121182 -75.351975  ...                                  HAWS AVE  1
3  40.116153 -75.343513  ...                        AIRY ST & SWEDE ST  1
4  40.251492 -75.603350  ...                  CHERRYWOOD CT & DEAD END  1
5  40.253473 -75.283245  ...                     CANNON AVE & W 9TH ST  1
6  40.182111 -75.127795  ...                  LAUREL AVE & OAKDALE AVE  1
7  40.217286 -75.405182  ...              COLLEGEVILLE RD & LYWISKI RD  1
8  40.289027 -75.399590  ...             MAIN ST & OLD SUMNEYTOWN PIKE  1
9  40.102398 -75.291458  ...  BLUEROUTE  & RAMP I476 NB TO CHEMICAL RD  1

[10 rows x 9 columns]

How many unique zip codes are there?

In [32]:
data['zip'].nunique()

#According to the output,  there are 104 unique zip codes.

105


How many calls at the same time?

In [ ]:
data['timeStamp'].value_counts().head(10)

#According to the output,  the result is shown below.

2015-12-10 17:40:01    8
2016-04-21 17:57:01    7
2015-12-23 14:12:01    7
2015-12-23 16:07:01    6
2016-06-08 12:47:03    6
2016-07-31 07:17:01    6
2016-03-09 19:07:01    6
2016-04-03 09:52:02    6
2015-12-29 10:12:01    6
2016-07-31 12:42:01    6
Name: timeStamp, dtype: int64

What are the top 10 most common title?

In [7]:
 data['title'].value_counts().head(10)

 #According to the output,  the top 10 most common title are Traffic: VEHICLE ACCIDENT, Traffic: DISABLED VEHICLE, Fire: FIRE ALARM, EMS: RESPIRATORY EMERGENCY, EMS: CARDIAC EMERGENCY, EMS: FALL VICTIM, EMS: VEHICLE ACCIDENT, Traffic: ROAD OBSTRUCTION, EMS: SUBJECT IN PAIN, EMS: HEAD INJURY.

Traffic: VEHICLE ACCIDENT -    23066
Traffic: DISABLED VEHICLE -     7702
Fire: FIRE ALARM                5496
EMS: RESPIRATORY EMERGENCY      5112
EMS: CARDIAC EMERGENCY          5012
EMS: FALL VICTIM                4863
EMS: VEHICLE ACCIDENT           3935
Traffic: ROAD OBSTRUCTION -     3144
EMS: SUBJECT IN PAIN            2687
EMS: HEAD INJURY                2631
Name: title, dtype: int64

What is the address on zip code?

In [31]:
zip_code=int (input("Enter zip code :"))
address=data[data['zip']==zip_code]['addr']
print(address)

#According to the output, if user enter the zip code: 19446, the addresses are shown below.

Enter zip code :19446
1         BRIAR PATH & WHITEMARSH LN
5              CANNON AVE & W 9TH ST
16       SUSQUEHANNA AVE & W MAIN ST
22            LILAC CT & PRIMROSE DR
52          CHURCH RD & E HANCOCK ST
                    ...
99387    JEFFERSON ST & E HANCOCK ST
99390    GOLDENROD DR & MAHOGANY WAY
99441     PICKWICK LN & CONESTOGA LN
99467         WOODS DR & DETWILER RD
99491         MORRIS RD & S BROAD ST
Name: addr, Length: 4748, dtype: object

How many missing values in zip column?

In [20]:
missing_values = ["n/a","na","--","NaN"]
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/projects/911/data/911.csv",na_values = missing_values)
data['zip'].fillna(00000,inplace = True)

In [21]:
data.head()

         lat        lng  ...                        addr  e
0  40.297876 -75.581294  ...      REINDEER CT & DEAD END  1
1  40.258061 -75.264680  ...  BRIAR PATH & WHITEMARSH LN  1
2  40.121182 -75.351975  ...                    HAWS AVE  1
3  40.116153 -75.343513  ...          AIRY ST & SWEDE ST  1
4  40.251492 -75.603350  ...    CHERRYWOOD CT & DEAD END  1

[5 rows x 9 columns]

In [29]:
data['zip'].value_counts().head(1)

#According to the output, the number of missing values in zip column are 12855.

0.0    12855
Name: zip, dtype: int64