<a href="https://colab.research.google.com/github/leejyy/Assignment/blob/master/knnex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/projects/knn/data/KNN_Project_Data",index_col=0)

In [14]:
df.head()

                    GWYH         TRAT  ...         JHZC  TARGET CLASS
XVPM                                   ...
1636.670614   817.988525  2565.995189  ...   845.136088             0
1013.402760   577.587332  2644.141273  ...   861.081809             1
1300.035501   820.518697  2025.854469  ...  1647.186291             1
1059.347542  1066.866418   612.000041  ...  1450.935357             0
1018.340526  1313.679056   950.622661  ...  1899.850792             0

[5 rows x 10 columns]

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
scaler=StandardScaler()

In [17]:
scaler.fit(df.drop('TARGET CLASS',axis=1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [18]:
scaled_features=scaler.fit_transform(df.drop('TARGET CLASS',axis=1))

In [19]:
df_feat=pd.DataFrame(scaled_features,columns=df.columns[:-1])
df_feat.head()

       GWYH      TRAT      TLLZ  ...      GUUB      MGJM      JHZC
0 -0.443435  1.619808 -0.958255  ... -0.932794  1.008313 -1.069627
1 -1.056574  1.741918 -1.504220  ... -0.461864  0.258321 -1.041546
2 -0.436981  0.775793  0.213394  ...  1.149298  2.184784  0.342811
3  0.191324 -1.433473 -0.100053  ... -0.888557  0.162310 -0.002793
4  0.820815 -0.904346  1.609015  ...  0.391419 -1.365603  0.787762

[5 rows x 9 columns]